<div class="popup">
  <i class="fas fa-window-close" (click)="close()"></i>
  <div class="video-container">
    <iframe [width]="width" [height]="height" [src]="getEmbeddedVideoUrl(post)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="comments-container">
    <div *ngFor="let comment of post.comments" class="comment">
      {{comment.text}}
    </div>
    <div class="new-comment-container">
      <input class="form-control mb-3" name="text" type="text" placeholder="Add a comment..." [(ngModel)]="newComment.text">
      <button class="btn btn-primary" (click)="postComment()">Post</button>
    </div>
  </div>
</div>
