<div class="popup">

  <i class="fas fa-window-close" (click)="close()"></i>
  <br>
  <br>

  <iframe [width]="width" [height]="height" [src]="getEmbeddedVideoUrl(post)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>

  <!-- view all comments -->
  <div *ngFor="let comment of post.comments">
    <div class="comment">{{comment.text}}</div>
    <hr>
  </div>

  <!-- write new comment -->
  <div>
    <input name="text" type="text" placeholder="Add a comment..." [(ngModel)]="newComment.text">
    <button mat-button color="primary" (click)="postComment()">Post</button>
  </div>

</div>
