.popup {
  position: relative;
}

.popup i.fa-window-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.video-container {
  float: left;
  width: 60%;
  margin: 20px;
}

.comments-container {
  float: right;
  width: 35%;
}

.comment {
  margin-bottom: 10px;
}

.new-comment-container {
  clear: both;
  margin-top: 10px;
}

.btn {
  background-color: #CDAB48;
  border: none;
}

.btn:hover {
  background-color: #A1A17F;
}
