<p>popup works!</p>
<!--<div *ngFor="let comment of post.comments">-->
<!--  <app-comment *ngIf="comment" [currentComment]="comment"></app-comment>-->
<!--</div>-->
<!--&lt;!&ndash; Display only the most liked comment (of your category) IN FULL  &ndash;&gt;-->
<!--&lt;!&ndash; "View all 99 comments" click this to modal popup &ndash;&gt;-->
<!--&lt;!&ndash; Post new comment here (blue "Post" button shows up upon typing the first letter) &ndash;&gt;-->
<!--<form>-->
<!--  <input name="text" type="text" placeholder="Add a comment..." [(ngModel)]="newComment.text">-->
<!--  <button mat-button color="primary" (click)="comment(post)">Post</button>-->
<!--</form>-->
