<!-- Sidebar -->
<div id="sidebar">
  <ul>
    <li><a class="title" href="#">Zooland</a></li>
    <li><a class="fas fa-home" routerLink="/"> Home</a></li>
    <li><a class="fas fa-filter" href="#"> Filter</a></li>
    <li><a class="fas fa-paper-plane" href="#"> Messages</a></li>
    <li><a class="fas fa-heart" href="#"> Notifications</a></li>
    <li><a class="fas fa-plus-square" href="#"> Create</a></li>
    <li><a class="fas fa-user" routerLink="/profile"> Profile</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
