#sidebar {
  position: fixed;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #E7B10A80;
  border-radius: 0 0 35px 0;
}

#sidebar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  margin: 15px;
}

#sidebar h2{
  margin-top: 35px;
  font-family: HisyamScript, serif;
  font-size: 45px;
}
