<form (submit)="save()">
  <div>
    <label>Video title: <input type="text"  name="videoTitle" [(ngModel)]="newPost.title"></label>
  </div>
  <div>
    <label>Video link: <input type="text" name="postLink" [(ngModel)]="newPost.postLink"></label>
  </div>
    <button type="submit">Post video</button>
</form>
<div>

</div>
<div *ngFor="let post of posts" style="width: 50%;">
  <div>
    <iframe width="100%" [height]="getVideoHeight()" [src]="getEmbeddedVideoUrl(post)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<!--<div *ngFor="let post of posts">
  <div class="video-container" (mouseover)="playVideo(getEmbeddedVideoUrl(post))" (mouseout)="pauseVideo(getEmbeddedVideoUrl(post))">
    <iframe [src]="getEmbeddedVideoUrl(post)" frameborder="0" allowfullscreen></iframe>
  </div>
</div>-->


<!--<div class="video-container" id="videoContainer">
  <video controls>
    <source src="assets/sample-5s.mp4" type="video/mp4">
  </video>
</div>-->
