<div class="posts" *ngFor="let post of posts">
  <!--suppress HtmlDeprecatedAttribute -->
  <iframe [width]="width" [height]="height" [src]="getEmbeddedVideoUrl(post)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
  <!--suppress HtmlUnknownAttribute -->
  <button href="" (click)="openPopUpDialog(post)">View all comments</button>
</div>

<div class="posts" id="videosContainer"></div>

<!--<div *ngFor="let post of posts">
  <video [width]="width" [height]="height">
    <source src="assets/sample-5s.mp4" type="video/mp4">
  </video>
  <div>
    <input id="volumeSlider" type="range" min="0" max="1" step="0.1" value="1">
  </div>
</div>-->
