h3 {
  color : darkgrey;
}
path {
  fill: green;
}
.signup {
  text-align: center;
  height: 600px;
  width: 250px;
  border: 1px solid black;
  border-radius: 20px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.fas {
  font-size: 12px;
  text-align: left;
}
