h3 {
  color: darkgrey;
}

path {
  fill: green;
}

.signup {
  text-align: center;
  height: 540px;
  width: 350px;
}
.inner{
  padding:20px
}
.green {
  color: green;
}

.red {
  color: red;
}

.fas {
  font-size: 12px;
  text-align: left;
}

.btn {
  background-color: #CDAB48;
  border: none;
}

.btn:hover {
  background-color: #A1A17F;
}

.title {
  font-family: HisyamScript, serif;
  color: #CDAB48;
  font-size: 70px;
  margin: 20px;
}

input{
  margin-bottom: 10px;
}
.btn{
  margin:10px;
}
